.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 300px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'header header header'
    'post_content post_content post_content';
}

.header {
  grid-area: header;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.post_content {
  grid-area: post_content;
}
