.App {
  text-align: center;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 3;
}

.menu-list li {
  list-style: none;
  display: inline;
  padding: 10px;
}

.bigPhotoDiv {
  height: 200px;
  background-image: url('./assets/images/image-web-3-desktop.jpg');
}

.bigText {
  height: 200px;
  font-size: large;
}
