.navigation {
  display: flex;
  justify-content: space-between;
}

.link_list {
  list-style-type: none;
}

.link_list li {
  display: inline;
  padding: 10px;
}

.link_list a:link {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  font-family: 'Inter', sans-serif;
}

.link_list a:hover {
  color: hsl(5, 85%, 63%);
}
